.HeadingText{
    color: #9A0680;
    font-weight: bolder;
    font-size: 80px;
}
#Naruto{
    width: 400px;
    height: 400px;
    margin: 30% auto;
}
.MainPageBlock{
  margin: 30% 20% 30%;
}
.LandingText{
  color: gold;
  margin: 20% 20% 20% 15%;
}
.SubText{
  margin: 10% 0% 5% 0%;
  color: gold;
  word-wrap: break-word;
}